body {
    background-color: rgb(245, 245, 229);
}

.company-card{
    display: flex;
    background-color: white;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    margin-bottom: 8%;
    flex-wrap: wrap;
}

.company-name{
    color: var(--primary-color);
}

.company-card-content{
    margin-left: 3%;
    width: 70%;
}

.company-card-job-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.company-card-job{
    border-top: 2px solid var(--border-color);
    width: 100%;
}

.job-list-card-button{
    background-color: #4640DE;
    padding: 1.5% 4%;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}


.job-list-card-tags-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}


.job-list-card-tag {
    margin-left: 4%;
    padding: 1%;
    box-sizing: border-box;
    font-size: 12px;
}

.company-jobs-container{
    margin-top: 8%;
}

.company-card-job-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-list-card-title{
    color: var(--primary-color);
    font-size: 28px;
}

.company-card-tags-container{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.company-card-tag {
    padding: 1% 3%;
}

.company-card-button{
    background: none;
	background-color: #4640DE;
	border: none;
	color: white;
	font-family: Titillium-SemiBold;
	font-size: 18px;
	padding: 1% 2.6%;
    text-decoration: none;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    .company-card {
        flex-direction: column;
    }

    .company-card-logo-container{
        width: 100%;
    }

    .company-card-job {
        position: relative;
        padding-bottom: 6%;
        box-sizing: border-box;
        margin-bottom: 6%;
    }

    .company-card-content{
        width: 100%;
        margin-left: 0%;
    }

    .company-card-job-header{
        flex-direction: column;
    }

    .company-card-job-content{
        flex-direction: column;
        width: 100%;
    }

    .company-card-tags-container{
        width: 100%;
    }

    .company-card-button{
        width: 100%;
        text-align: center;
        border-radius: 8px;
        position: absolute;
        top: 93%;
        text-decoration: none;
    }
}